---
import "../styles/global.css";
import WaveBackground from "../components/Wave.jsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Profile Idannn</title>

      <!--- meta tag-->
    <meta name="description" content="I am a vocational school student majoring in Software Engineering with a great interest in technology, especially software development. 
    I have expertise in Game Development, including designing, programming, and optimizing using game engines such as Unity.">
    <meta name="keywords" content="Ahmad Zidan Al Ikhsan, Ahmad zidan, Hibakupoxz, Smk plus pelita nusantara, 
    Pacar illyasviel von einzbern, Pacar hyacine, Zidan, pacar nia teppelin, Pacar Kanade Yoisaki, Pacar Chinatsu, Pacar Yoshino, Pacar Natsumi, Pacar Miyu, Pacar yuzu blue archive,
    pacar seia, pacar sylphiette">
    <meta name="author" content="Ahmad Zidan Al Ikhsan">

    <!-- Open Graph -->
    <meta property="og:title" content="Ahmad Zidan Al Ikhsan">
    <meta property="og:description" content="Card profile ahmad zidan al ikhsan">
    <link rel="icon" href="logo/icon-web.png" type="image/png">
    <meta property="og:image" content="https://i.imgur.com/b4XiT8Q.png">
    <meta property="og:url" content="https://astro-portofolio-snowy.vercel.app/">
    <meta property="og:type" content="website">
    <meta name="google-site-verification" content="googleb1b4d4ba0b832e56.html">
  </head>

  <body class="relative bg-gray-50 font-rubik overflow-hidden">

    <section class="relative flex items-center justify-center min-h-screen pt-[50px] z-10">
      <div class="bg-white rounded-b-lg w-[800px] shadow-md">

        <div class="bg-[#383b43] text-white px-8 py-2 rounded-t-md text-left">
          <p>home</p>
        </div>

        <div class="relative w-[800px] h-[450px] bg-white text-[#383b43] flex flex-col items-center justify-center rounded-b-lg border-2 space-y-2 z-10">
          <h1 class="text-[70px] font-semibold leading-none">
            hi! <span class="text-[#D97D55]">i'm idannn</span>
          </h1>
          <p class="text-[20px] pb-[30px] pt-[30px]">game developer and web developer</p>

          <div class="flex justify-center items-center gap-16 text-[#383b43]">
            <div class="flex flex-col items-center transition-transform duration-200 hover:scale-110">
              <a href="#"><img src="user.svg" alt="about" class="w-[55px] cursor-pointer" /></a>
              <p class="text-[16px]">about</p>
            </div>

            <div class="flex flex-col items-center transition-transform duration-200 hover:scale-110">
              <a href="#"><img src="link-alt.svg" alt="links" class="w-[55px] cursor-pointer"/></a>
              <p class="text-[16px]">links</p>
            </div>

            <div class="flex flex-col items-center transition-transform duration-200 hover:scale-110">
              <a href="#"><img src="folder-open.svg" alt="project" class="w-[55px] cursor-pointer" /></a>
              <p class="text-[16px]">project</p>
            </div>

            <div class="flex flex-col items-center transition-transform duration-200 hover:scale-110">
              <a href="#"><img src="document.svg" alt="faq" class="w-[55px] cursor-pointer" /></a>
              <p class="text-[16px]">faq</p>
            </div>

            <div class="flex flex-col items-center transition-transform duration-200 hover:scale-110">
              <a href="#"><img src="clip-mail.svg" alt="contact" class="w-[55px] cursor-pointer" /></a>
              <p class="text-[16px]">contact</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <div class="absolute bottom-0 left-0 w-full overflow-hidden z-0">
      <WaveBackground client:load />
    </div>

  </body>
</html>
